<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de Tarefas</title>
</head>
<body>
    <div id="tarefasApp"> 
        <h1>Controle sua tarefa</h1>
        <h2>Adicionar Tarefa</h2>
        <form v-on:submit="addTarefa">
            <input type="text" v-model="novaTarefa.titulo" placeholder="Titulo da tarefa">
            <input type="submit" value="Adicionar">
        </form>
        <hr>
        <h2>Tarefas a fazer</h2>
        <table>
            <thead>
                <th>Pronta?</th>
                <th>Título</th>
                <th>Remover</th>
            </thead> 
            <tbody>
                <tr v-for= "tarefa in tarefas">
                    <td><input type="checkbox"></td>
                    <td>{{tarefa.titulo}}</td>
                    <td><button>Delete</button></td>
                </tr>                        
            </tbody>           
        </table>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        var tarefasApp = new Vue({
            el: "#tarefasApp",
            data: {
                tarefas: [
                    { titulo: "Desenvolver API para o sistema", pronta: false },
                    { titulo: "Criar controle de acesso", pronta: false },
                    { titulo: "Enviar novas mudanças para o servidor", pronta: false },
                ],
                novaTarefa: {
                    titulo: '',
                    pronta: false
                }
            },
            methods: {
                addTarefa: function(e){
                    e.preventDefault();
                    this.tarefas.push(this.novaTarefa);
                }
            }

        })
    </script>
</body>
</html>